* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.content-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.picture {
    max-width: 20%;
    /* Adjust the maximum width as desired */
    height: auto;
    /* Let the height adjust automatically */
    margin-right: 2%;
    /* Add a right margin for the picture */
    margin-top: auto;
    margin-bottom: auto;
    /* Center the picture vertically on larger screens */
}

.text {
    font-size: 16px;
    color: #000;
    margin: 1%;
    margin-left: 2%;
    /* Add a left margin for the text */
}

.Certifications {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ITE,
.ITN,
.Grundforløbsbevis {
    max-width: 20%;
    /* Adjust the maximum width as desired */
    height: auto;
    /* Remove the height property to maintain aspect ratio */
    margin: 2%;
}

@media (max-width: 912px) {
    .content-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .picture {
        max-width: 80%;
        /* Adjust the maximum width as desired */
        margin-right: 0;
        /* Remove the right margin for the picture */
        margin-top: 0;
        /* Remove the top margin for the picture */
        margin-bottom: 2%;
        /* Add a bottom margin for the picture */
    }

    .text {
        margin-left: 0;
        /* Remove the left margin for the text */
        text-align: center;
        /* Center the text on mobile */
    }

    .Certifications {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .Certifications img {
        max-width: 80%;
        /* Adjust the maximum width as desired */
        height: auto;
        /* Let the height adjust automatically */
        margin: 2% auto;
        /* Center the images horizontally */
    }
}

@media (min-width: 913px) {
    .Certifications {
        flex-direction: row;
        justify-content: center;
    }

    .ITE,
    .ITN {
        width: 40%;
        /* Adjust the width as desired */
        height: auto;
        /* Remove the height property to maintain aspect ratio */
        margin: 2%;
    }
}

@media (min-width: 1024px) {
    .content-container {
        margin: 20px;
    }
}