.img {
    width:100%;
}

.project::after {
    content: "";
    clear: both;
    display: table;
}

.imageField {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.textField {
    float: left;
    width: 66.66%;
    padding: 5px;
}

.project {
    display: flex;
}

.fullText{
    text-align: center;
    padding: 5px;
}