.form {
  display: flex;
  justify-content: center;
  width: 90%;
  &__submit {
    width: 50%;
  }
  &__child-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
