@use './../../App' as app;

$gradient: linear-gradient(
  45deg,
  rgba(255, 0, 0, 1) 0%,
  rgba(0, 105, 255, 1) 50%,
  rgba(0, 204, 221, 1) 100%
);

.education {
  background: $gradient;
  min-height: 100vh;
  &__books {
    &--container {
      min-height: 550px;
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      overflow: hidden;
      box-sizing: border-box;
      padding-top: 5vh;
    }
  }
  &__details--container {
    display: flex;
    justify-content: space-evenly;

    & .box {
      margin: 0;
      max-width: 45%;
      @media only screen and (max-width: app.$screen-width) {
        max-width: unset;
        min-width: unset;
        margin: 1vh 5vw;
      }
    }

    @media only screen and (max-width: app.$screen-width) {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: app.$screen-width) {
    flex-direction: column;
  }
}
